.wifiPage__imgBox{
    height: 600px;
}

.allGrid{
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap:30px;
    padding: 100px 50px 100px 100px;
}
.allGrid3{
    display: grid;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    column-gap: 100px;
}
.allGrid3 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.left__Box h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
    margin-top: 20px;
}

.left__Box h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    margin-top: 8px;
}
.allGrid4{
    margin-top: 50px;
}

@media(max-width:1196px){
    .allGrid{
        padding: 50px;
    }
    .wifiPage__imgBox{
        height: 500px;
    }
}

@media(max-width:1080px){
    .allGrid{
        grid-template-columns: repeat(1,1fr);
    }
    .allGrid4{
        margin-top: 30px;
    }  
    .wifiPage__imgBox{
        height: 400px;
    }  
}
@media(max-width:660px){
    .allGrid3{
        grid-template-columns: repeat(1,1fr);
        column-gap: 100px;
    }
    .allGrid__non{
        margin-top: 30px;
    }
    .wifiPage__imgBox{
        height: 300px;
    }    
}
@media(max-width:452px){
    .left__Box h2{
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }
    
    .left__Box h6{
        font-size: 12px;
        line-height: 20px;
        margin-top: 6px;
    }
    .allGrid3 p{
        font-size: 12px;
        line-height: 20px;
    }
    .wifiPage__imgBox{
        height: 200px;
    } 
}


